<footer>
    <div class='brand'>
        ML CAMISETAS <i class="fa-solid fa-futbol"></i>

    </div>

    <nav class="footer-links">
        <a href="#" class="nav-link">QUIENES SOMOS </a>
        <a href="#" class="nav-link">CONTACTO</a>
        <a href="#" class="nav-link">MARCAS</a>
    </nav>

    <div class="brands">
        <a href="/#"><i class="fa-brands fa-instagram"></i></a>
        <a href="/#"><i class="fa-brands fa-twitter"></i></a>
      </div>

</footer>

</body>

</html>