<header>


    <div class='brand'>ML CAMISETAS <i class="fa-solid fa-futbol"></i></div>

    
        <form autocomplete="off" class="search"> <input type="text" placeholder="Buscar"></input>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>


        <div class="user-links">
            <a class="user"href="/login">INICIA SESION <i class="fa-solid fa-user"></i></a>
            <a href="/product-cart">CARRITO <i class="fa-solid fa-cart-shopping"></i></a>
        </div>

    

    <div class="menu">
        <i class="fa-solid fa-bars"></i>
    </div>

    <nav class ='store-links'>
        <a href="#" class="nav-link">CAMISETAS TITULARES</a>
        <a href="#" class="nav-link">CAMISETAS SUPLENTES</a>
        <a href="#" class="nav-link">SHORTS</a>
    </nav>


</header>