<header>

    <div class='brand'>ML CAMISETAS <i class="fa-solid fa-futbol"></i></div>


    <form autocomplete="off" class="search"> <input type="text" placeholder="Buscar"></input>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <ul class="navbarUserLogged">
        <% if (locals.isLogged) { %>
            <ul class="nav-loggedOptions">
                <a style="color: white;">Hi <%= locals.userLogged.fullName %></a>
                <a href="/user/profile">My profile</a>
                <a href="/user/logout">Logout</a>
            </ul>


            <% } else { %>
                <div class="user-links">
                    <a class="user" href="/user/login">INICIA SESION<i class="fa-solid fa-user"></i></a>
                    <a href="/user/register">REGISTRATE<i class="fa-solid fa-user"></i></a>
                </div>
                <% } %>
    </ul>


    <div class="menu">
        <i class="fa-solid fa-bars"></i>
    </div>

    <nav class='store-links'>
        <a href="#" class="nav-link">CAMISETAS TITULARES</a>
        <a href="#" class="nav-link">CAMISETAS SUPLENTES</a>
        <a href="#" class="nav-link">SHORTS</a>
    </nav>


</header>