<%- include('partials/head')  %>

  <title>CamisetasML</title> 
</head>

<body>
  
  <!-- HEADER  -->
  <%- include('partials/header')  %>

















  <!-- FOOTER  -->
 <%- include('partials/footer')  %>