* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

header {
    padding: 5px;
    background-color: #38b6ff;

}

.brand {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;

}

.brand i {
    padding: 1px 4px;
}

.search {
    display: flex;
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

.search input {
    color: #38b6ff;
    border: 0px solid white;
    width: 100%;
    outline: none;
    padding: 2px;
}

.search button {
    background-color: white;
    border: none;
    color: #38b6ff;
    width: 10%;
}

input::placeholder {
    color: #38b6ff;
}

.user-links {
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 10px;

}

.user-links a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 22px;
}

.user-links i {
    margin: 0 4px;
}

.menu {
    color: white;
}

.store-links {
    display: none;
}


/* HEADER  IF USER IS LOGGED */

.nav-loggedOptions, .nav-loggedOptions a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    max-width: fit-content;
}


/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
}


h2 {
    display: block;
    margin: 30px 5px;
    font-size: medium;
    width: 100%;
}


.footballProduct {
    background-color: #769fcd;
    margin: 30px auto;
    width: 200px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    min-width: 40%;
    justify-content: space-between;

}

.footballProduct h6 {
    position: relative;
    font-size: 10px;
    margin: auto 5px;
    top: 10px;
    text-align: center;
    color: #f7fbfc;
    font-family: sans-serif;
    width: 100%;

}

.footballProduct img {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    margin-top: 30px;
    width: 75%;
    height: 158px;
    max-height: 158px;
}




/* FOOTER */

footer {
    width: 100%;
    background-color: #38b6ff;
    margin-top: auto;
}

footer .brand {
    padding: 5px;

}

footer .links {
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
}

footer .brands {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

footer .brands a {
    text-decoration: none;
    color: white;

}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;

}

.footer-links a {
    text-decoration: none;
    color: white;
}

@media (min-width: 769px) {


    /* HEADER */

    .brand {
        padding: 10px;
    }

    .search {
        display: inline-flex;
        width: 45%;
        margin-bottom: 10px;
    }

    .user-links {
        right: -10px;
        top: 70px;
        position: absolute;
        font-size: 14.5px;

    }

    .menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    nav a {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }


    /* MAIN */

    .footballProduct {
        min-width: 30%;
    }

    .footballProduct h6 {
        font-size: 12px;
    }
        
    .footballProduct img {
        margin: 12px 35px;
    }

        
    /* FOOTER */

    footer .brand {
        padding: 10px;

    }

}

@media (min-width: 1024px) {


    /* HEADER */
    .search {
        width: 55%;

    }

    .user-links {
        width: 37%;
    }

     
    /* MAIN */

     .footballProduct {
        min-width: 23%;
    }


}

@media (min-width: 1240px) {


    /* HEADER */
    .search {
        width: 60%;

    }

    .user-links {
        width: 30%;


    }

   
}