* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

/* HEADER */

header {
    width: calc(100% + 10px);
}

header nav {

    height: 80px;
    width: 100%;

}

.navbar-collapse {
    position: absolute;
    background-color: #212529;
    z-index: 2;
    right: 0;
    top: 78px;
    padding: 0px 15px;
}

header a,
header p {
    color: #fff !important;
}

header a:hover {
    background: hsla(240, 9%, 59%, .1);
    transition: all .3s;
    border-radius: .25rem;
}

header a.dropdown-item {
    color: #000 !important;
}

header a.dropdown-item:focus {
    background-color: transparent !important;

}


header input.form-control {
    background: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff !important;
    background-color: #212121 !important;

}

header input::placeholder {
    color: #fff !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* HEADER  IF USER IS LOGGED */

.nav-loggedOptions,
.nav-loggedOptions a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    max-width: fit-content;
}

/* MODAL */

.modal-body {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
}

.modal-body .product-cart-img {
    width: 15%;
}

.modal-body .product-cart-img img{
  width: 100%;
}

.modal-body .cart-paragraphs  {
    display: flex;
    width: 70%;
    margin: auto;
}
.modal-body .cart-paragraphs p {
    color: #212529 !important;
    margin: 0 10px;

}

.cart-buttons {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.cart-buttons button {
    padding: 5px;
    margin: 5px;
    border: none;
    outline: none;
    transition: all ease .3s;
    
}
 .cart-buttons input{
    padding: 5px;
    margin: 5px;
    border: #212529 solid 1px;
    outline: none;
    background: none !important;
}

.modal-footer {
    justify-content: space-between;
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
}


h2 {
    display: block;
    margin: 30px 5px;
    font-size: medium;
    width: 100%;
}


.footballProduct {
    background-color: #0A2647;
    margin: 30px auto;
    width: 220px;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    min-width: 40%;
    border: 2px solid #c3c6ce;
    justify-content: space-between;
    transition: 400ms all ease;

}

.footballProduct:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
    transform: translateY(-5%);
}

.footballProduct h6, a {
    position: relative;
    font-size: 13px;
    margin: auto;
    text-align: center;
    color: #f7fbfc;
    font-family: sans-serif;
    width: 98.5%;
    text-decoration: none;
    margin-top: 5px;

}

.footballProduct img {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    margin-top: 30px;
    width: 75%;
    height: 155px;
    max-height: 155px;
}

h2::after {
    content: "";
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    background-color: #0A2647;
}

  main .footballProduct:hover .price-container {
    height: 10px;
    opacity: 1;
    font-size: 15px;
  }
  
  .footballProduct .price-container {
    height: 0;
    opacity: 0;
    transition: 550ms ease-in-out;
    font-size: 15px;
    color: #17ff36
}

/* FOOTER */

footer {
    width: calc(100% + 10px);    
    background-color: #0A2647;
    margin-top: auto;
}

footer .brand {
    padding: 5px;
    text-align: center;
}

footer .footer-links {
    display: flex;
    justify-content: space-around;
}

footer .brands {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

footer .brands a {
    text-decoration: none;
    color: white;
    font-size: large;

}

.footer-links {
    display: flex;
    margin-right: 2%;
    margin-bottom: 15px;
    

}

.footer-links a {
    text-decoration: none;
}

.negroGlobal {
    background-color: #100505
}

.celesteArg {
    background-color: #60AFE1;
}

.violetaArg {
    background-color: #353776;
}

.azulBoca {
    background-color: #103f79;
}

.amarilloBoca {
    background-color: #f3b229;
}

.rojoRiver {
    background-color: #eb192e;
}

.rojoIndependiente {
    background-color: #e2001a;
}

.celesteRacing {
    background-color: #029cdc;
}

.bordoSanLorenzo {
    background-color: #ec212d;
}

.azulSanLorenzo {
    background-color: #273b56;
}

.rojoArgentinos {
    background-color: #fb0b0e;
    
}

.azulArgentinos {
    background-color: #0d3e8a;
}

.celesteArsenal {
    background-color: #25add7;
}

.rojoArsenal {
    background-color: #ed2330;
}

.celesteAtleticoTucuman {
    background-color: #62bcf1;
}

.azulAtleticoTucuman {
    background-color: #344B7E;
}

.verdeBanfield {
    background-color: #03953f;
}

.rojoBarracas {
    background-color: #FC0204;
}

.blancoBarracas {
    background-color: #FCFEFC;
}

.celesteBelgrano {
    background-color: #16C1F3;
}

.negroBelgrano {
    background-color: #30323A;
}

.negroCentralCordoba {
    background-color: #000000;
}

.rojoCentralCordoba {
    background-color: #A62727;
}

.rojoColon {
    background-color: #e1171d;
}

.amarilloDefensa {
    background-color: #D9B727;
}

.verdeDefensa {
    background-color: #18443D;
}

.rojoEstudiantes {
    background-color: #e40b12;
}

.azulGimnasia {
    background-color: #09446a;
}

.azulGodoyCruz {
    background-color: #002988;
}

.grisGodoyCruz {
    background-color: #b4b0b2;
}

.rojoHuracan {
   background-color: #C41B14;
}

.rojoInstituto {
    background-color: #FA0202;
}

.bordoLanus {
    background-color: #ab2a3e;
}

.rojoNewells {
    background-color: #f42121;
}

.marronPlatense {
    background-color: #5c3919;
}

.azulRosarioCentral {
    background-color: #1F4972;
}

.amarilloRosarioCentral {
    background-color: #f5c513;
}

.verdeSarmiento {
    background-color: #056E35;
}

.verdesitoSarmiento {
    background-color: #528F6B;
}

.azulTalleres {
    background-color: #05173b;
}

.azul2Talleres {
    background-color: #1A347D;
}

.azulTigre {
    background-color: #2A3089;
}

.rojoTigre {
    background-color: #B82D40;
}

.rojoUnion {
    background-color: #df1216;
}

.azulUnion {
    background-color: #052C91;
}

.azulVélez {
    background-color: #0a539c;
}

.azul2Vélez {
    background-color: #13378D;
}

@media (min-width: 769px) {

    header form .form-control {
        width: 220px;
    }

    .navbar-brand {
        margin: 0 5rem;
    }

    /* MAIN */

    .footballProduct {
        min-width: 30%;
    }

    .footballProduct h6, a {
        margin: 5px 3px;
    }
        
    

        
    /* FOOTER */

    footer .brand {
        padding: 10px;

    }


}

@media (min-width: 992px) {

    .navbar-collapse {
        display: block;
        position: relative;
        background-color: #212529;
        z-index: 2;
        padding: 0px;
        right: 0;
        top: 0;

    }

    .user-links {
        width: 37%;
    }

     
    /* MAIN */
    .footballProduct {
        min-width: 23%;
    }

    .footballProduct h6, a {
        margin: 5px 7px;
    }

    /* FOOTER  */
    .footer-links a{
        font-size: large;
    }

    footer .brands i{
        font-size: xx-large;
    }

}

@media (min-width: 1240px) {


    /* HEADER */
    .search {
        width: 60%;

    }

    .user-links {
        width: 30%;


    }

}

