* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

/* HEADER */

header {
    padding: 5px;
    background-color: #0A2647;
    width: calc(100% + 10px);
}

.brand {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;

}

.brand i {
    padding: 1px 4px;
}

.search {
    display: flex;
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

.search input {
    color: #0A2647;
    border: 0px solid white;
    width: 100%;
    outline: none;
    padding: 2px;
}

.search button {
    background-color: white;
    border: none;
    color: #0A2647;
    width: 10%;
}

input::placeholder {
    color: #0A2647;
}

.user-links {
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 7px;

}

.user-links a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 22px;
    font-size: 11px;
}

.user-links i {
    margin: 0 4px;
}

.menu {
    color: white;
}

.store-links {
    display: none;
}


/* HEADER  IF USER IS LOGGED */

.nav-loggedOptions,
.nav-loggedOptions a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    max-width: fit-content;
}


/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
}


h2 {
    display: block;
    margin: 30px 5px;
    font-size: medium;
    width: 100%;
}


.footballProduct {
    background-color: #0A2647;;
    border-radius: 20px;
    margin: 30px auto;
    width: 220px;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    min-width: 40%;
    border: 2px solid #c3c6ce;
    justify-content: space-between;
    transition: 0.5s ease-out;
    overflow: visible;

}

.footballProduct:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: translateY(-5%);
}

.footballProduct h6 {
    position: relative;
    font-size: 13px;
    margin: auto;
    text-align: center;
    color: #f7fbfc;
    font-family: sans-serif;
    width: 98.5%;
    text-decoration: none;
    margin-top: 5px;

}

.footballProduct img {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    margin-top: 30px;
    width: 75%;
    height: 155px;
    max-height: 155px;
}

h2::after {
    content: "";
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    background-color: #0A2647;
}

.footballProduct .detail-container {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: relative;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;

}

.footballProduct:hover {
   box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .footballProduct:hover .detail-container {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

/* FOOTER */

footer {
    width: calc(100% + 10px);
    background-color: #0A2647;
    margin-top: 50px;
}

footer .brand {
    padding: 5px;

}

footer .brands {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

footer .brands a {
    text-decoration: none;
    color: white;
    font-size: large;

}


.footer-links, .footer-links a  {   
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 12px;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
}

.negroGlobal {
    background-color: #100505
}

.celesteArg {
    background-color: #60AFE1;
}

.violetaArg {
    background-color: #353776;
}

.azulBoca {
    background-color: #103f79;
}

.amarilloBoca {
    background-color: #f3b229;
}

.rojoRiver {
    background-color: #eb192e;
}

.rojoIndependiente {
    background-color: #e2001a;
}

.celesteRacing {
    background-color: #029cdc;
}

.bordoSanLorenzo {
    background-color: #ec212d;
}

.azulSanLorenzo {
    background-color: #273b56;
}

.rojoArgentinos {
    background-color: #fb0b0e;

}

.azulArgentinos {
    background-color: #0d3e8a;
}

.celesteArsenal {
    background-color: #25add7;
}

.rojoArsenal {
    background-color: #ed2330;
}

.celesteAtleticoTucuman {
    background-color: #62bcf1;
}

.azulAtleticoTucuman {
    background-color: #344B7E;
}

.verdeBanfield {
    background-color: #03953f;
}

.rojoBarracas {
    background-color: #FC0204;
}

.blancoBarracas {
    background-color: #FCFEFC;
}

.celesteBelgrano {
    background-color: #16C1F3;
}

.negroBelgrano {
    background-color: #30323A;
}

.negroCentralCordoba {
    background-color: #000000;
}

.rojoCentralCordoba {
    background-color: #A62727;
}

.rojoColon {
    background-color: #e1171d;
}

.amarilloDefensa {
    background-color: #D9B727;
}

.verdeDefensa {
    background-color: #18443D;
}

.rojoEstudiantes {
    background-color: #e40b12;
}

.azulGimnasia {
    background-color: #09446a;
}

.azulGodoyCruz {
    background-color: #002988;
}

.grisGodoyCruz {
    background-color: #b4b0b2;
}

.rojoHuracan {
    background-color: #C41B14;
}

.rojoInstituto {
    background-color: #FA0202;
}

.bordoLanus {
    background-color: #ab2a3e;
}

.rojoNewells {
    background-color: #f42121;
}

.marronPlatense {
    background-color: #5c3919;
}

.azulRosarioCentral {
    background-color: #1F4972;
}

.amarilloRosarioCentral {
    background-color: #f5c513;
}

.verdeSarmiento {
    background-color: #056E35;
}

.verdesitoSarmiento {
    background-color: #528F6B;
}

.azulTalleres {
    background-color: #05173b;
}

.azul2Talleres {
    background-color: #1A347D;
}

.azulTigre {
    background-color: #2A3089;
}

.rojoTigre {
    background-color: #B82D40;
}

.rojoUnion {
    background-color: #df1216;
}

.azulUnion {
    background-color: #052C91;
}

.azulVélez {
    background-color: #0a539c;
}

.azul2Vélez {
    background-color: #13378D;
}

@media (min-width: 769px) {


    /* HEADER */

    .brand {
        padding: 10px;
    }

    .search {
        display: inline-flex;
        width: 45%;
        margin-bottom: 10px;
    }

    .user-links {
        width: 40%;
        right: -10px;
        top: 70px;
        position: absolute;
        font-size: 14.5px;
        margin: 5px;

    }

    .user-links i {
        font-size: 10.5px;
        display: inline;
    }

    .menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    nav a {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }


    /* MAIN */

    .footballProduct {
        min-width: 30%;
    }

    .footballProduct h6,
    a {
        margin: 5px 3px;
    }




    /* FOOTER */

    footer .brand {
        padding: 10px;

    }

}

@media (min-width: 1024px) {


    /* HEADER */
    .search {
        width: 55%;

    }

    .user-links {
        width: 37%;
    }


    /* MAIN */
    .footballProduct {
        min-width: 23%;
    }

    .footballProduct h6,
    a {
        margin: 5px 7px;
    }

    /* FOOTER  */
    .footer-links a {
        font-size: large;
    }

    footer .brands i {
        font-size: xx-large;
    }

}

@media (min-width: 1240px) {


    /* HEADER */
    .search {
        width: 60%;

    }

    .user-links {
        width: 30%;


    }

}