* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main article {
    width: 90%;
    background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
    box-shadow: 4px 6px 14px #00000036;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    max-height: 750px;
}

main article .product-name h4,
.product-price h4 {
    justify-content: center;
    text-align: center;
    padding: 5px 0;
}

main article .product-img img {
    width: 70%;
    margin: auto;
    display: block;
    padding: 10px 0;
}

main article .detail-texts {
    padding: 10px 0;
    text-align: center;
}

main article .detail-texts i {
    margin: 0 3px;
}

main article .buy-buttons a {
    text-decoration: none;
}

main article .buy-buttons input,
.product-detail-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    padding: 4px;
    background: rgb(40, 40, 55);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

@media (min-width: 769px) {
    main article section {
        display: flex;
        max-height: 450px;
    }
    main article .product-img  {
        width: 45%;
        display: flex;
        justify-content: left;
        text-align: left;
        flex-wrap: wrap;
        margin: 0 20px;
        max-height: 350px;
    }
    main article section .detail-texts {
        width: 45%;
        display: inline;
        margin: auto 20px;
        max-height: 350px;
        
    }
    main article .product-img img {
        width: 100%;
        display: inline;
        padding: 10px 0;
        max-height: 350px;
    }
    
}