* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.products-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin: 10% auto;
}

.allProducts-box {
    display: flex;
    flex-direction: column;
}

.allProducts-box .product {
    background-color: lightsteelblue;
    margin: 30px auto;

}

.allProducts-box .product h5 {
    text-align: center;
    font-size: 10px;
    width: 90%;
    margin: 10px;
}

.allProducts-box .product .img-p-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 80%;
}

.allProducts-box .product img {
    width: 40%;

}

.allProducts-box .product .paragraphs-texts {
    width: 50%;


}

.allProducts-box .product p {
    margin: 30px 0;
    font-weight: 500;

}

.allProducts-box .product input {
    display: flex;
    margin: 10px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    max-height: 35.33px;

}

.allProducts-box .product input {
    background-color: #38b6ff;
}


.allProducts-box #buy-zone {
    padding: 5px;
    font-size: 80%;

}



@media (min-width: 769px) {

    .allProducts-box .product h5 {

        font-size: 15px;

    }

    .products-container {

        margin-top: 50px;
    }

    .allProducts-box {

        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .product {

        display: flex;
        width: 44.8%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .allProducts-box .product img {
        height: 184.87px;
    }

    .product .paragraphs-texts {
        font-size: 20px;
    }

    .allProducts-box #buy-zone {
        margin-bottom: 0;

    }

    .allProducts-box #buy-zone p {
        font-size: 14px;
    }

    footer {
        margin-top: -50px
    }

}