* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.register-form {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 300px;
    text-align: center;
    justify-content: center;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

body h5 {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
    position: relative;
}

.register-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.register-form .inputs {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    background-color: transparent;

}

.register-form .inputs::placeholder {
    font-size: 15px;
    color: white;
}

.register-form .interaction-button button {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    border: none;
    outline: none;
    color: #fbb117;
    border-radius: 10px;
    background: linear-gradient(#38b6ff, white, #38b6ff);
    cursor: pointer;
    margin-bottom: 10px;
}

.login-link {
    display: block;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.login-link a {
    color: #38b6ff;
    text-decoration: none;
}

.bg-color {
    
    background-color: #0767D5;
    border-radius: 15px;
}