<!-- HEAD  -->
<%- include('../partials/head') %>

<link href="/css/productCreate.css" rel="stylesheet">
<title>Creación de producto</title>
</head>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/header')  %>
        <main>
            <div class="formBox">
                <h5>Crear producto</h5>

                <form action="/products" method="POST" autocomplete="off">

                    <input class="inputs" type="text" name="name" placeholder="Elige el nombre del producto">

                    <input class="inputs" type="number" name="price" min="1" placeholder="Edita el precio">

                    <input class="inputs" type="text" name="color" min="1" placeholder="Elige el color">


                    <select class="selection">
                        <option disabled selected="">Seleccione una categoría</option>
                            <option>Camiseta titular</option>
                            <option>Camiseta suplente</option>
                            <option>Short</option>
                        
                    </select>


                    <input class="inputs" type="number" name="discount" min="1" max="100"
                    placeholder="Elige el porcentaje del descuento">

                   
                    <button type="submit" class="buttons">Crear</button>
                        
                    

                </form>

            </div>
        </main>
    <!-- FOOTER  -->
    <%- include('../partials/footer')  %>