<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito de compras</title>
    </head>

    <body>

        <!-- HEADER  -->
        <%- include('../partials/header') %>

            <main>
                <div class="products-container">

                    <div class="allProducts-box">

                        <div class="product">
                            <h5>CAMISETA TITULAR BOCA JUNIORS TEMPORADA 22/23</h5>
                            <div class="img-p-container">
                                <img src="images/boca/bocaTitular.jpg" alt="" width="90px">
                                <div class="paragraphs-texts">
                                    <p>CANTIDAD 1</p>
                                    <p>PRECIO $16.999</p>
                                </div>
                            </div>
                            <a href="#"><button class="delete-button">ELIMINAR EL PRODUCTO</button></a>
                        </div>

                        <div class="product">
                            <h5>CAMISETA SUPLENTE BOCA JUNIORS TEMPORADA 22/23</h5>
                            <div class="img-p-container">
                                <img src="images/boca/bocaSuplente.jpg" alt="" width="90px">
                                <div class="paragraphs-texts">
                                    <p>CANTIDAD 1</p>
                                    <p>PRECIO $16.999</p>
                                </div>
                            </div>
                            <a href="#"><button class="delete-button">ELIMINAR EL PRODUCTO</button></a>
                        </div>

                        <div class="product" id="buy-zone">
                            <p>PRECIO TOTAL DE LOS ARTÍCULOS: <strong>$33.998</strong></p>
                            <p>PRECIO DE ENVÍO: <strong>$1.299</strong></p>
                            <p>PRECIO TOTAL: <strong>$35.297</strong></p>
                            <a href="#"><button class="delete-button">PROCEDER A PAGAR</button></a>

                        </div>

                    </div>


                </div>

                
            </main>


